@media only screen and (max-width: 768px) {
#contact {
  padding-top: 8vw;
  padding-bottom: 8vw;
}
#contact .page-section{
  gap: 40px;
}
.contact-cards {
  box-sizing: border-box;
  display: grid;
  /* flex-direction: row; */
  justify-content: space-between;
  grid-template-columns: auto auto;

  gap: 6%;
}
.contact-card {
  box-sizing: border-box;
  padding: 6vw 0 6vw;
  display: flex;
  flex-direction: column;

 width: 100%;
  flex: 1;
}
/* .contact-card:nth-last-child(1){
  

  max-width: 100%;
  
} */
.contact-card .card-title {
  width: 100%;
  margin: 26px 0;
}
.contact-card .card-text {
  width: 80%;
  font-size: 12px;

}
.card-icon {
  height: 60px;
  max-width: 32%;
  
}
a {
  width: 100%;
}
  }