@media only screen and (max-width: 768px) {
#contact {
  padding-top: 8vw;
  padding-bottom: 8vw;
}
#contact .page-section{
  gap: 60px;
}
.contact-cards {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 8%;
}
.contact-card {
  box-sizing: border-box;
  padding: 6vw 0 6vw;
  display: flex;
  flex-direction: column;

  max-width: 44%;
  flex: 1;
}
/* .contact-card:nth-last-child(1){
  

  max-width: 100%;
  
} */
.contact-card .card-title {
  width: 100%;
  margin: 26px 0;
}
.contact-card .card-text {
  width: 100%;
  font-size: 14px;
}
.card-icon {
  height: 60px;
  max-width: 32%;
  
}
a {
  width: 100%;
}
  }