@media only screen and (min-width: 768px) {



#projects {
  position: fixed;
  width: 100%;
 box-sizing: border-box;
 background: #fff;
height: 100%;

}
.title-section {
  /* height: 20%; */
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;

}

.title-wrap {
  
}

#projects .line {
  font-size: 6vw;
  color: #050505;
  margin-bottom: 40px;
}

#projects .main-subtitle {
  
  color: #8D8F9A;
  margin-bottom: 40px;

}
#projects .main-text {
  color: #8D8F9A;
  font-size: 1.6vw;
  align-self: baseline;
}

.project-list {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: auto auto;

  padding:  0px 10vw 60px;
  
  gap: 4%;
}
.project
 {
box-sizing: border-box;
  width: 100%;
 
  /* background: #f4f4f4;   */
  /* overflow: hidden; */
}

.project-img-c {
position: relative;
  /* width: 100%; */
  height: 50vh;
  object-fit: contain;
  
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background: #f4f4f4;
}
.project-img {
  position: absolute;
  height: 100%;
}

.project-text-c {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px 0 60px;
  gap: 6px;
}

.project-title {
font-family: Inter;
font-size: 18px;
font-weight: 300;
margin: 0;
color: #050505;
line-height: 1.4;
}
.project-subtitle {
  font-family: Inter;
  font-size: 16px;
  font-weight: 300;
  margin: 0;
  color: #8D8F9A;
  }




}