@media only screen and (min-width: 768px) {

#projects {
  position: fixed;
  width: 100%;
 box-sizing: border-box;
 background: #fff;
height: 100%;

}
.title-section {
  /* height: 20%; */
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;

}


.title-wrap {
  
}

#projects .line {
  font-size: 6vw;
  color: #050505;
  margin-bottom: 40px;
}

#projects .main-subtitle {
  
  color: #8D8F9A;
  margin-bottom: 40px;

}
#projects .main-text {
  color: #8D8F9A;
  font-size: 1.6vw;
  align-self: baseline;
}

.project-list {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: auto auto;

  padding:  0px 10vw 60px;
  
  gap: 4%;
}
.project
 {
box-sizing: border-box;
  width: 100%;
 display: flex;
 flex-direction: column;
 justify-content: flex-end;
 overflow: hidden;
 border-radius: 8px;
}

.project-img-c {
position: relative;
  height: 40vh;
  object-fit: contain;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  
}
.project-img {
  position: absolute;
  
  height: 100%;
  min-width: 100%;
}

.project-text-c {
  position: relative;
  width:calc(100% -80px);
  display: flex;
  flex-direction: row;
  padding: 40px 40px 40px;
  
  z-index: 1;
  overflow: hidden;
  background: #151515;
  gap: 12%;
}
.project .col {
  display: flex;
  flex-direction: column;
  gap: 12px;
  flex: 1 1;
}
#projects .arrow {
  transform: scale(.8) rotate(-90deg);
  /* flex: 1 1; */
  align-self: center;
}



.project-title {
font-family: Inter;
font-size: 1.8vw;
font-weight: 300;
margin: 0;
color: #fff;
line-height: 1.4;

}
.project-subtitle {
  font-family: Inter;
  font-size: 1.4vw;
  font-weight: 400;
  margin: 0;
  color: #fff;
  opacity: .4;
  }




}