#title {
  position: absolute;
  width: 50%;
  height: 100%;
  z-index: 2;
  margin-left: 6%;
}

.disappearingBox {
  
}
.title-c {
  position: absolute;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: "white";
}
#title .title {
  font-family: "basier";
  font-size: 6rem;
  font-weight: 800;
  margin-bottom: 0.5%;
  color: white;
  margin-top: 0;
}
#title .subtitle {
  font-size: 1.5rem;
  color: white;
  width: 80%;
}