@media only screen and (max-width: 768px) {

#navigation {
  position: fixed;
  width: 100%;
  height: 90px;
  /* background: red; */
  z-index: 1000;
}


.nav-wrap {
  display: flex;
  flex-direction:row;
  padding: 0 6vw;
  height: 100%;
  align-items: center;
  float: right;
  gap: 16px;
  padding-top: 24px;
}


.navWrap {
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
  height: 100%;
  padding: 0 32px;
  
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.leftNav {
  position: relative;
  box-sizing: border-box;
  height: 100%;
  float: left;
  display: flex;
  flex-direction: row;
  align-items: center;

}
.rightNav {
  position: relative;
  height: 100%;
  float: right;
  display: flex;
  flex-direction: row;
  align-items: center;
}
#logo {
  position: relative;
  font-size: 18px;
  font-weight: 400;
  font-family: Inter;
  /* text-transform: uppercase; */
  color: white;
  will-change: opacity;

  /* REMOVE WHEN SPRINGS WORK */
  opacity: 1 !important;


}
.back-btn {
  position: absolute;
  font-size: 22px;
  font-weight: 300;
  /* text-transform: uppercase; */
  color: white;
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.menu-btn {
  position: relative;
  color: white;
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
}
.navItem {
  font-size: 16px;
  font-weight: 300;
  color: white;
}
:link {
  text-decoration: none;
}
}