.wrapper {
    position: fixed;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    padding-bottom: env(safe-area-inset-bottom);
    
}

@media only screen and (max-width: 768px) {
    .wrapper {
        box-sizing: border-box;
        overflow-y: scroll;
        overflow-x: hidden;
        overscroll-behavior: none;
    }
    .wrapper::-webkit-scrollbar {
        display: none;
      }
  }



