@media only screen and (max-width: 768px) {

#project {
  /* min-height: 100vh; */
  background: #fff;
  box-sizing: content-box;
  /* opacity: 0; */
}
#project .line {
  font-size: 32px;
  color: #050505;
  margin-bottom: 20px;
  font-weight: 300;
}
#project .main-subtitle {
  color: #8D8F9A;
}
#project .main-text {
  color: #8D8F9A;
}
#project .title-section{
  position: relative;
    box-sizing: content-box;
    padding: 100px 10vw 60px;
    -webkit-font-smoothing: antialiased;
    display: flex;
    flex-direction: column;
    gap: 40px;
  justify-content: center;
  min-height: 40vh;
  align-items: flex-start;
}
.downbtn {
  transform: scale(.9);
  margin-left: -4px;
  /* padding-bottom:20px; */
box-sizing: border-box;
/* width: 66px;
height: 66px; */

}

/* OLDER VERSION */
  #project-mobile {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow-y: scroll;
  overflow-x: hidden;

  z-index: 10;
  -webkit-overflow-scrolling: touch;

}

/* LOADER */
.loader-c {
  width: 100%;
  position: absolute;
  /* bottom: calc(-env(safe-area-inset-bottom)-10vh); */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;

}

.loader-svg {
  
 
  transform: rotate(-90deg);
  display: flex;
  justify-content: center;
  align-items: center;
}
/* .inner-arrow-svg {
  transform: rotate(90deg);
} */

.checkmark-svg {
  position: absolute;
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  
  animation: stroke cubic-bezier(0.65, 0, 0.45, 1) 0.6s forwards;
  
}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}


/* PAGES */


#project-mobile .scroller {
    background: #fff;
  margin-top: 100vh;
  
}

.scroller:-webkit-scrollbar {
  display: none;
}

#project-mobile .text-wrap {
  box-sizing: border-box;
  width: auto;
  padding-top: 10%;
  padding-left: 6.25%;
  padding-right: 6.25%;
  padding-bottom: 10%;
  margin-left: auto;
  margin-right: auto;

}

#project-mobile .section {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 0;
  flex-shrink: 0;
  align-items: normal;
  justify-content: flex-start;

  padding-left: 6px;
  padding-right: 6px;

  padding-bottom: 12%;
  margin-bottom: 6%;
}

#project-mobile .title {
  font-size: 40px;
  font-weight: 800;
  /* line-height: 1.125em; */
width: 90%;
  color: #212121;
}
#project-mobile .subtitle {
  font-family: 'Basier';
  font-size: 16px;
  /* font-size: 1.1rem; */
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 0%;

  color: #707070;
}


#project-mobile .description-c {
  display: block;
  flex: 0 0 100%;
  max-width: 100%;
  min-height: 1px;
}
#project-mobile .description {
  font-family: 'Basier';
  line-height: 1.6em;
    
    font-size: 16px;
  color:#424242;
}


#project-mobile .details {
  flex: 1;
  color: #212121;
  display: flex;
  flex-direction: column;
}

#project-mobile .detail {
  display: flex;
  flex-direction: column;
  margin-bottom: 8%;

}

#project-mobile .detail .label {
  font-family: 'Basier';
  margin-bottom: 12px;
  /* font-size: 1.2rem; */
  font-size: 1.1rem;
  font-weight: 100;
  color: #707070;

}
#project-mobile .detail .text {
  margin: 0;
  font-family: 'Basier';
  font-size: 1.3rem;
  font-weight: 200;
}
/* Images */
/* #image {
  height: 216px;
}
.img-c {
  position: absolute;
  top: 0;
  left: 0;
   min-width: 100%;
   overflow: hidden;
   height: 100%;
   
 }
 .img {
   height: 100%;
   width: 100%;
   object-fit: cover;
 } */

 #project .project-row {
  gap: 24px;
 }

 #project .index-c {
  position:relative;
  
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex: 1 2 0;
  /* justify-content: space-between; */
  gap: 12px;
  align-items: center;

}

#project .index {
  position:relative;
  height: 100%;
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#project .index-line {
  background: #707070;
  width: 100%;
  height: 1.4px;
}
}