#carousel {
    /* position: absolute; */
    width: 100%;
    /* height: 100%; */
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly; */
    
    /* overflow-y: scroll; */
    
  }
  
#carousel::-webkit-scrollbar {
    display: none;
  }
  
  /* .card {
    position:absolute;
    width: 70%;
    min-height: 32%;
    background: white;
    margin-top: 4%;
    transition: .4s,
  } */


  .card {
      position: absolute;
      height: 10px;
      width: 100%;
      background: white;
  }

#carousel img {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}
