@media only screen and (min-width: 768px) {
#contact {
  padding-top: 8vw;
  padding-bottom: 8vw;
}
.contact-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.contact-card {
  box-sizing: border-box;
  padding: 4vw 0 4vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 26%;
}
.contact-card .card-title {
  width: 100%;
  margin: 26px 0;
}
.contact-card .card-text {
  width: 100%;
}
.card-icon {
  height: 60px;
  max-width: 20%;
}
a {
  width: 100%;
}
  }