@media only screen and (min-width: 768px) {
#about .landing.page-section  {
 
  margin-top: 0vh;
  margin-bottom: 12vw;

}

.main-c .row {
  gap: 12vw;
  margin-top: 60px;
}


#about .detail {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 0;

}
#about .detail-c {

}
.detail-subtitle{
  font-family: Inter;
  color: #fff;
  font-weight: 200;
  margin: 0;
  font-size: 1.6vw;
  opacity: .4;
  margin-bottom: 10%;
}
.detail-text{
  font-family: Inter;
  color: #fff;
  font-weight: 200;
  margin: 0;
  font-size: 2vw;

}

}